$blur-color: hsl(225, 75%, 52%);

:root {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: black;
    height: 100dvh;

    .game-window {
        width: 90dvh;
        height: 90dvh;
/*         border: 2px solid white; */

        #ticTacGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;
            height: 100%;

            .cell {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $blur-color;
                border: 3px solid rgb(255, 255, 255);
                font-size: 4rem;
                border-radius: 10%;
            }
        }
    }
}

