$blur-color: hsl(225, 75%, 52%);

:root {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

img {
    height: 50vh;
}

.main {
    background-color: black;
    height: 100dvh;

    #winnerScreen {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: hsla(201, 100%, 50%, 0.6);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #resetGame {
            background-color: #67ddc9; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
        }

        #winnerText {
            color: white;
        }
    }

    .game-window {
/*         border: 2px solid white; */

        #ticTacGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;

            .cell {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $blur-color;
                border: 3px solid rgb(255, 255, 255);
                font-size: 4rem;
                border-radius: 10%;
                width: 10vh;
                height: 10vh;
                flex: 1;
            }
        }

        .choose-players {
            display: flex;
            
            transform: scale(50%);

            .player1, .player2 {
                text-align: center;
            }

            #showGameBtn {
                height: 100px;
                position: relative;
                width: 200px;
                top: 70%;
                right: 50%;
            }
          }
        
    }
}
